name: Refresh Epic Token
on:
  workflow_dispatch:
  schedule:
    # “At 13:37 on every day-of-week from Monday through Friday.”
    - cron: "* * * * *"

jobs:
  refresh:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Ustaw Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Zainstaluj zależności
        run: npm install node-fetch@3
        
      - name: Wykonaj refresh
        env:
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
        run: node refresh.js
