name: Refresh Epic Token
on:
  workflow_dispatch:
  schedule:
    # “At 13:37 on every day-of-week from Monday through Friday.”
    - cron: "0 */1 * * *"

jobs:
  refresh:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4
      - name: Ustaw Node.js
        uses: actions/setup-node@v4 
        with: 
          node-version: 20

      - name: Zainstaluj zależności
        run: npm install node-fetch@3
        
      - name: Restore last timestamp
        id: ts
        uses: actions/cache/restore@v4
        with:
          path: last_run.txt
          key: last-run-timestamp

      - name: Get current timestamp and calculate delta
        id: calc
        run: |
          now=$(date +%s)
          
          if [ -f last_run.txt ]; then
            last=$(cat last_run.txt)
          else
            last=0
          fi

          echo "now=$now" >> $GITHUB_OUTPUT
          echo "last=$last" >> $GITHUB_OUTPUT

          delta=$((now - last))
          echo "delta=$delta" >> $GITHUB_OUTPUT
          echo $now > last_run.txt

   

      - name: Check if enough time passed
        id: check
        run: |
          REQUIRED=$((45 * 3598))
          if [ ${{ steps.calc.outputs.delta }} -lt $REQUIRED ]; then
            echo "notyet=true" >> $GITHUB_OUTPUT

          else
            echo "notyet=false" >> $GITHUB_OUTPUT
            temp=0
            echo $temp > last_run.txt
          fi

      - name: Exit if too early
        if: steps.check.outputs.notyet == 'true'
        run: echo "Za wcześnie → workflow kończy się."

      - name: Wykonaj refresh
        if: steps.check.outputs.notyet == 'false'
        env:
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
        run: node refresh.js

      - name: Save timestamp back to cache
        uses: actions/cache/save@v4
        with:
          path: last_run.txt
          key: last_run-${{ github.run_id }}