name: Refresh Epic Token
on:
  workflow_dispatch:
  schedule:
    # “At 13:37 on every day-of-week from Monday through Friday.”
    - cron: "0 */1 * * *"

permissions:
 actions: write
 contents: read
 
jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4
      - name: Ustaw Node.js
        uses: actions/setup-node@v4 
        with: 
          node-version: 20

      - name: Zainstaluj zależności
        run: npm install node-fetch@3
              
      - name: Check if artifact exists
        id: check_artifact
        run: |
          response=$(gh api repos/${{ github.repository }}/actions/artifacts \
            --jq '.artifacts[] | select(.name=="last_run") | .id' || true)
          if [ -z "$response" ]; then
            echo "Artifact not found."
            echo "exists=false" >> $GITHUB_OUTPUT
          else
            echo "Artifact found with id $response"
            echo "exists=true" >> $GITHUB_OUTPUT
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          
      - name: Download a single artifact
        if: steps.check_artifact.outputs.exists == 'true'
        uses: actions/download-artifact@v5
        with:
         name: last_run
         path: last_run.txt

      - name: Get current timestamp and calculate delta
        id: calc
        run: |
          now=$(date +%s)

          if [ -f last_run.txt ]; then
            last=$(cat last_run.txt)
          else
            last=0
          fi
          
          echo "now=$now" >> $GITHUB_OUTPUT
          echo "last=$last" >> $GITHUB_OUTPUT

          delta=$((now - last))
          echo "delta=$delta" >> $GITHUB_OUTPUT
          echo $now > last_run.txt

   

      - name: Check if enough time passed
        id: check
        run: |
          REQUIRED=$((45 * 3598))
          if [ ${{ steps.calc.outputs.delta }} -lt $REQUIRED ]; then
            echo "notyet=true" >> $GITHUB_OUTPUT
          else
            temp=0
            echo $temp> last_run.txt
            echo "notyet=false" >> $GITHUB_OUTPUT
          fi
   
      - name: Exit if too early
        if: steps.check.outputs.notyet == 'true'
        run: echo "Za wcześnie → workflow kończy się."

      - name: Wykonaj refresh
        if: steps.check.outputs.notyet == 'false'
        env:
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
        run: node refresh.js

      - name: 'Upload Artifact'
        if: steps.check.outputs.notyet == 'false'
        uses: actions/upload-artifact@v4
        with:
         name: last_run
         path: last_run.txt
         retention-days: 2
